@font-face {
	font-family: 'Gilroy-Bold';
	src: url('./font/Gilroy-Bold.woff2');
}
@font-face {
	font-family: 'Gilroy-Medium';
	src: url('./font/Gilroy-Medium.woff2');
}
@font-face {
	font-family: 'Gilroy-Semibold';
	src: url('./font/Gilroy-Semibold.woff2');
}


* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
	background: #ffffff;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.buttonheader {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.Homeheader{
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.header{
    padding: 40px 0;
    margin-bottom: 84px;
}

.mainBattonStart{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 72px;
}


.mainButtonWatch{
    width: 90px;
    height: 19px;
    flex-shrink: 0;
    color: #AAAAAA;
    border: none;
    cursor: pointer;
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainButton{
    
}

.mainContent{ 
}

.main{
margin-bottom: 97px;
}

.mainContent__leftSide{
}

.mainContent__leftSide h1{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.mainContent__leftSide p{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 37px;
}

.footer{
margin-bottom: 96px;
}

.logosFooter{

}